# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc

# Database
db.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# Media files
media/

# Ignore all Python migration files
**/migrations/[0-9]*_*.py

# But keep the __init__.py in migrations folders
!**/migrations/__init__.py
