# Jenkins Configuration as Code.
credentials:
  system:
    domainCredentials:
      - credentials:
          - file:
              scope: GLOBAL
              id: "eks-cloud-kubeconfig"
              fileName: "eks-cloud-kubeconfig"
              secretBytes: "{{ eks_cloud_kubeconfig_b64.content }}"
              description: "Kubeconfig for eks-cloud, auths via aws eks get-token using the Jenkins EC2 instance role"